---
import Layout from '../layouts/Layout.astro';
import App from '../layouts/App.astro';
import Search from '../components/Search.vue'
---

<Layout title="Welcome to Astro.">
	<main>
		<App>
			<Search />
		</App>
	</main>
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	} */
</style>
