---
---

<div class="container">
    <div class="navbar">
        <a class="links" href="/">
            <img class="navImage" src="/images/home_icon.png" alt="Home" />
        </a>
        <a class="links" href="/search"
            ><img
                class="navImage"
                src="/images/search_icon.png"
                alt="Search"
            /></a
        >
        <a class="links" href="/favorite"
            ><img
                class="navImage"
                src="/images/fav_icon.png"
                alt="Favourites"
            /></a
        >
        <a
            class="links"
            href="https://github.com/Remus7/Percentage"
            target="_blank"
            ><img
                class="navImage"
                src="/images/github_icon.png"
                alt="GitHub"
            /></a
        >
    </div>
    <slot />
</div>

<style>
    .container {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 100px;
    }

    .titleAge {
        font-size: 45px;
        margin-bottom: 50px;
        color: black;
    }
    .textAge {
        font-size: 30px;
        margin-bottom: 30px;
        color: black;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .close-button {
        display: flex;
        text-align: center, center;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        margin-left: 40px;
        margin-right: 40px;
        width: 50px;
        padding: 8px;
        border: 1px solid white;
        background-color: #0e4749;
        color: white;
        border-radius: 4px;
    }

    .close-button:hover {
        background-color: #0056b3;
    }

    .navImage {
        height: 40px;
        width: auto;
        z-index: 1;
        color: white;
    }

    .navbar {
        height: 40px;
        background-color: #1eaf90;
        overflow: hidden;
        padding-top: 12px;
        margin-top: 25px;
    }
    .links {
        color: white;
        text-align: center;
        padding: 10px;
        /* text-decoration: none; */
        font-size: 17px;
    }

    .links:hover {
        opacity: 0.7;
        /* color:black; */
    }
    .navbar {
        margin-bottom: 50px;
    }
</style>
